*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.main-container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.form-container{
    width: 50%;
    height: 100vh;
    background-color: #ccc;
    padding: 10px;
}
.form-wrapper{
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.inp{
    padding: 10px;
}
.inpt-select{
    font-size: 14px;
}
.member-lists-container{
    width: 50%;
    height: 100vh;
    background-color: beige;
    padding: 10px;
    overflow: auto;
}
.btn-cont{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}
.btn{
    padding: 10px 20px;
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: lightgray;
    color: black;
}
.li-cont{
    padding: 10px;
}
.slink{
    padding: 7px 15px;
    font-weight: 600;
    margin-right: 3px;
    text-align: center;
    font-size: 11px;
    border-radius: 6px;
    cursor: pointer;
}
.link-update{
    margin-left: 15px;
    background-color: green;
    color: antiquewhite;
}
.link-delete{
    background-color: maroon;
    color: antiquewhite;
}
.slink:hover{
    background-color: lightslategray;
    color: aliceblue;
}